<%- include('../partials/html-head') %> <%- include('../partials/nav') %> 

<%
//TODO: ICEBOX: Add photos to maps objects
// BACKGROUND IMAGE FOR EACH
const GAME_MAPS = [
    {
        id: 'de_dust2',
        name: 'Dust II',
    },
    {
        id: 'de_mirage',
        name: 'Mirage',
    },
    {
        id: 'de_cache',
        name: 'Cache',
    },
    {
        id: 'de_inferno',
        name: 'Inferno',
    },
    {
        id: 'de_nuke',
        name: 'Nuke',
    }, 
    {
        id: 'de_vertigo',
        name: 'Vertigo',
    },  
    {
        id: 'de_anubis',
        name: 'Anubis',
    },
]
%>

<section>
  <h1>✨Filler✨</h1>
  <% if (user) { %>
  <h2>Add More ✨Filler✨</h2>
  <form action="/grenades" method="post">
    <label>
      Filler Name:
      <input type="text" name="Filler Name" autocomplete="off" />
    </label>
    <label>
      Jump Throw?
      <input type="checkbox" name="jumpThrow" />
    </label>
    <button type="submit">add ✨Filler✨</button>
  </form>
  <% } %>
  <h1>Maps</h1>

  <ul class="map-wrapper">
    <% GAME_MAPS.forEach(map => { %>
    <li class="map-card"><%= map.name %></li>
    <% }) %>
  </ul>

</section>

<%- include('../partials/footer') %>
